@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body header nav div img.logotipo{
    width: 50px;
    margin: 10px;
}

body header nav div a.letras_logo{
    width: 10px;
    text-decoration: none;
    color: rgb(220, 53, 69) ;
}

footer div a {
    text-decoration: none;
    color: #571111;
    font-size: 25px;
}

footer div a.ubicacion {
    font-size: 15px;
    color: black;
    text-align: center;
}

.fondo{
    background-image: url('../img/fondo_rojo.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

h2{
    color: rgb(187, 21, 37);
    font-size: 75px;
    text-align: center;
}

p{
    text-align: center;
    font-size: 25px;
}

main section div.letras{
    border-radius: 25px;
    background-color: #ffffff;   
    opacity: 90%; 
}

main section div.row div{
    border: solid 1px rgb(220, 53, 69);
    background-color: rgb(187, 21, 37);
}

main section div.row div a{
    text-decoration: none;
    color: #ffffff;
}

.imagen:hover{
    transform: scale(1.2);
}

footer div div img{
    border-radius: 50px;
}

.card:hover{
    transform: scale(0.95);
    background-color: black;
    border: black;
}

.nav-link:hover{
    transform: scale(0.95);
    background-color: rgb(187, 21, 37);
    border: rgb(187, 21, 37);    
}

@media screen and (max-width: 768px) {
    h2{
        font-size: 35px;
    }
}

@media screen and (min-width: 768px) {
    .fondo{
        padding: 150px;
    }
}

@media screen and (max-width: 426px) {
    .fondo{
        padding: 35px;
    }
}
