@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

h2{
    color: #ffff;
}

h3 {
    font-size: 20px;
}

body header nav div img.logotipo {
    width: 50px;
    margin: 10px;
}

body header nav div a.letras_logo {
    width: 10px;
    text-decoration: none;
    color: #571111;
}

footer div a {
    text-decoration: none;
    color: #571111;
    font-size: 25px;
}

footer div a.ubicacion {
    font-size: 15px;
    color: black;
    text-align: center;
}

section.juegos{
    border: solid 5px #ffff;
}

a.btn {
    background-color: #571111;
    border: solid 1px #571111;
}

a.btn:hover{
    background-color: rgb(252, 61, 61);
    border: solid 1px rgb(252, 61, 61);
}

.imagen:hover{
    transform: scale(1.2);
}

footer div div img{
    border-radius: 50px;
}

.nav-link:hover{
    transform: scale(0.95);
    background-color: rgb(187, 21, 37);
    border: rgb(187, 21, 37);    
}

.card:hover{
    transform: scale(0.999);
    border: solid 5px rgb(187, 21, 37);
}

@media screen and (min-width: 1440px) {
    main div section div div div picture img {
        height: 450px;
    }

    main div section div div div.card {
        width: 20rem;
        height: 38rem;
    }
}

@media screen and (max-width: 1024px) {
    main div section div div div picture img {
        height: 270px;
    }
}

@media screen and (max-width: 426px) {
    main div section div div div picture img {
        height: 120px;
    }
}

